@model IEnumerable<ITCompany.Models.User>

@{
    ViewData["Title"] = "Index";
}




<p>
    <a asp-action="Create">Додати</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            @*<th>
                Логін
            </th>
            <th>
                Пароль
            </th>*@
            <th>
                Ім'я
            </th>
            <th>
                Прізвище
            </th>
            <th>
                Аватар
            </th>
            <th>
                Роль
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <img src="@item.Avatar" alt="avatar" width="150px;"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Інформація</a> 
                
            </td>
        </tr>
}
    </tbody>
</table>
